:root {
    box-sizing: border-box;
    font-size: calc(0.5em + 1vw);
}
*, 
::before, 
::after {
    box-sizing: inherit;
}

div ul{
    display: flex;
    flex-direction: row;
}
div ul li{
    
    flex-shrink: 1;
}