:root {
    box-sizing: border-box;
    font-size: calc(0.5em + 1vw);
}
*, 
::before, 
::after {
    box-sizing: inherit;
}

body{
    margin: 5px 5%;
}

header section{
    display: flex;
    justify-content: space-between;
}
header section div dl {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.uno{
    display: flex;
    margin: 3%;
}
input[type="button"]{
    border-color: #f56a6a;
    background: white;
    padding: 1.3em 5.5em;
    border-radius: 0.65em;
    color: #f56a6a;
    border: solid 0.11em;
    font-size: 0.7em;
}
hr{
    background: #f56a6a;
    padding: 0.1em;
    border: 0px;
}
img{
    border-radius: 1em;
}
.sans{
    font-family: sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: #7f888f;
}
strong{
    color: black;
}
.linea-corta{
    width: 9em;
}
img{
    width: 20em;
    height: 12.5em;
}
.PP{
    display: flex;
    margin: 0px 0.5em;
    padding: none;
    border: none;
}
article div dl div{
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
}
dd{
    font-family: 'Open Sans', sans-serif;
}
.rojoo{
    color: #f56a6a;
    font-size: 2.8em;
}
h4{
    font-family: sans-serif;
    margin-bottom: 0px;
}

